#main {
  overflow: hidden;
}
#filterText {
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
}
#Products {
  border: 1px solid black;
  margin-left: 25%;
  width: 50%;
}

th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.close {
  cursor: pointer;
}

.close:hover {
  background: #bbb;
}

#myInput{
  width: 49.5%;
  margin-left: 25%;
  border-radius: 15px;
  margin-top: 5px;
}