#main {
  overflow: hidden;
  
}
#filterTextOs {
  background-color: rgb(67, 186, 216);
  color: black;
  border: 1px solid black;
  width: 25%;
  margin-left: 25%;
  float: left;
}

#filterTextBrand {
  background-color: rgb(67, 186, 216);
  color: black;
  border: 1px solid black;
  width: 25%;
  margin-left: 0%;
  float: left;
  
}
#Products {
  border: 1px solid black;
  margin-left: 25%;
  width: 50%;
}

th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.close {
  cursor: pointer;
}

.close:hover {
  background: #bbb;
}

#myInput{
  width: 49.5%;
  margin-left: 25%;
  border-radius: 15px;
  margin-top: 5px;
}